<%- include("header")-%>

    <title>About Page</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
</body> 

<%- include("footer")-%>